body {
    padding: 40px;
    font-family: Arial;
    text-align: center;
}

img{
    text-align: center;
}

.myName{
    text-align: center;
}

html{
    scroll-behavior: smooth;
}

.btn-group{
    text-align: center;
    margin: auto;
    background-color: #ffffff; /* Green background */
    border: 1px solid #ffffff; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */    
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
.btn-group button:hover {
    background-color:  #ffffff;
}